% include('header.html')
<link rel="stylesheet" type="text/css" href="/static/css/race.css">
<h1>Roaches - Race</h1>
% if started: 
<div class="race-app started">
% else:
<div class="race-app">
% end 
    <div class="race-container">
		<label>ready for race:</label><div class="race"></div>
	</div>
    <input class="get-roach" type="button" value="get roach"/>  
    <input class="start" type="button" value="start"/> 
	<div class="roach-house-container">
    	<label>house:</label><div class="roach-house"></div>    
	</div>   
	<div class="cstadium">
		<div class="stadium">
		</div>
	</div>
</div>
<div class="hide" id="templates">
	<div class="template" id="roach">
		<div class="roach" id="id---id---" data-src='------'>
			<div class="roach-name">---name---:---number---</div>
			<br/>
			<div class="roach-item roach-weight">🔩 ---weight---</div>
			<div class="roach-item roach-speed">🚀 ---speed---</div>
			<div class="roach-item roach-history">🕜 ---history---</div>
			<div class="roach-item roach-health">🚑 ---health---</div>
		</div>
	</div>	
	<div class="template" id="roach-race">
		<div style="left:---delta---px;" class="roach-race" id="id---id---" data-src='------'>
			<div class="roach-number">---number---</div>
			<div class="r">---pic---</div>
		</div>
	</div>
</div>
<script src="/static/js/race.js"></script>
% include('footer.html')
