<div class="hide" id="templates">
	<div class="template" id="roach">
		<div class="roach" id="id---id---" data-src='------'>
			<div class="roach-name">---name---:---number---<span class="roach-remove">✕</span></div>
			<img src="/static/imgs/roach.png" />
			<br/>
			<div class="roach-item roach-weight">🔩 ---weight---</div>
			<div class="roach-item roach-speed">🚀 ---speed---</div>
			<div class="roach-item roach-history">🕜 ---history---</div>
			<div class="roach-item roach-health">🚑 ---health---</div>
		</div>
	</div>	
	<div class="template" id="roach-race">
		<div style="left:---delta---px;" class="roach-race" id="id---id---" data-src='------'>
			<div class="roach-number">---number---</div>
			<div class="r"><img src="/static/imgs/roach.gif"></div>
		</div>
	</div>
	<div class="template" id="bet">
		<div class="bet" id="id---id---" data-src='------'>
			<span class="bet-roach">---roachstr---</span>: <span class="bet-amount">---bet--- pistoles</span>
		</div>
	</div>
    <div class="template" id="item">        
		<div class="item" id="id---id---" data-src='------'>
			<div class="item-name">---name---</div>
            <div class="item-power">power: ---power---</div>
            <div class="item-price">price: ---price--- pistoles</div>
            <div class="item-buy">buy</div>
		</div>
    </div>
</div>