body {
	font-size: medium;
	min-width: 500px;
	font-family: arial;
}

.hide {
	display: none;
}


.button {
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
	border: 2px solid #3c4036;
	cursor: pointer;
	background-color: white;
	font-size: 16px;
}

.header {
	background-color: white;
	border-bottom: 1px solid #e6e6e6;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}



.race-app {
	padding: 20px;
}


.roach {
	display: inline-block;
	border: solid lightskyblue 2px;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
	border-radius: 10px;
	background-color: lightskyblue;
}

.race {
	padding: 10px;
}

.roach-house {
	padding: 10px;
	width: 800px;
}

input {
	margin: 10px;
}

.cstadium {
	position: relative;
	overflow: hidden;
}

.stadium {
	width: 800px;
	border: 2px solid lightgrey;
	padding-bottom: 20px;
	padding-right: 20px;	
	border-radius: 10px;
	border-right: 7px dashed black;
}


.roach-race .r {
	transform: rotate(90deg);
	width: 5px;
	height: 5px;
}

.roach-race {
	position: relative;
	width: 20px;
	height: 20px;
	padding: 20px;
}

h1 {
	margin-left: 10px;
	font-size: 45px;
}

.roach-item {
  display: inline-block;
  margin: 0px;
  border-radius: 7px;
  background-color: cornflowerblue;
  padding: 5px;
  color: white;
  font-size: 15px;
}